.button {
  background-color: rgb(134, 206, 144);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 110px;
  height: 35px;
  color: rgb(255, 255, 255);
  font-weight: 800;
  font-size: 14px;
  padding: 3px 10px;
  border-radius: 7px;
  box-shadow: 1px 1px 10px rgb(30, 255, 0);
  margin: 30px auto;
}
